.parceiros{
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2{
   margin-bottom: 60px; 
}

.parceiros ul{
    padding: 0 20px ;
    max-width: 1400px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
}

.parceiros li{
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--cor-2);
}

.parceiros li:first-child , .parceiros li:nth-child(5){
    border-left: 0px;
}

 .parceiros li:nth-child(n + 5){
    
     border-top: 2px solid var(--cor-2);
 }

.parceiros img {
   margin: auto; 
}

@media(max-width:800px){
    .parceiros{
      padding-bottom: 60px;
    }

    .parceiros h2{
       margin-bottom: 20px;
    }

    .parceiros li{
    display: flex;
    padding: 20px;
    border-left: 2px solid var(--cor-2);
}

    .parceiros ul{
      grid-template-columns: 1fr 1fr;  
    }

    .parceiros li{
         border-bottom: 2px solid var(--cor-2); 
    }

    .parceiros li:nth-child(3),  .parceiros li:nth-child(7){
         border-left: 0px; 
    }

    .parceiros li:nth-child(8),  .parceiros li:nth-child(7){
         border-bottom: 0px; 
    }
}
